# Chaves de API
WEBKUL_API_KEY=ZjhkYWY0OTdiMDk1MDNhZWRlNTgwYzRhNmRlYjE1ODEwNTM3MTM5MDMxOGJmNGNmYmZhZDY0ZDgwNmM2OGU0ZQ
ASAAS_API_KEY=$aact_hmlg_000MzkwODA2MWY2OGM3MWRlMDU2NWM3MzJlNzZmNGZhZGY6OjUyMTAzMDRkLWYwODMtNDY3NC1hNTc5LTI5MWM0YWFjNmVmODo6JGFhY2hfNzQ5M2I4ZTctMTdkNi00YzlkLTg4M2UtYzZjZGNjNzEzNzY4

# Configurações do Plano
PLANO_ID=5734
PLANO_NOME=Assinatura Vendedor Mensal

# Configurações Padrão
ESTADO_PADRAO=SP
PAIS_PADRAO=BR
SENHA_PADRAO=12345

# URLs das APIs
ASAAS_API_URL=https://sandbox.asaas.com/api/v3
WEBKUL_API_URL=https://mvmapi.webkul.com/api/v2
